/* {% load static from static %} */
body {
  background-image: url(wolf.jpg);
  background-size: cover;
  background-color: #0f121f;
  background-repeat: repeat;
  color: #fff;
}

body * {
  font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
  margin: 0;
}

a,
a:hover,
a:visited {
  color: #fff;
  text-decoration: none;
}

.brandImage {
  width: 100px;
  height: 70px;
}
