{% extends 'articles/base.html' %} {% block content %} <div class="articles"> {% for article in articles %} <div
    class="article">
    <h2> <a href="{% url 'articles:detail' slug=article.slug %}">{{ article.title }}</a></h2>
    <p>{{ article.snippet }}</p>
    <p>{{ article.date }}</p>
  </div> {% endfor %} </div> {% endblock %}