{% load static from static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

    <head>
        <meta charset="utf-8">
        <title>Articles</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>

    <body>
        <div id="brand"><a href="{% url 'articles:home' %}"><img src="{% static 'wolf.jpg' %}" alt="" class="brandImage"></a>
        </div>
        <div class="wrapper"> {% block content %} {% endblock %} </div>
    </body>

</html>