{% extends 'articles/base.html' %} {% block content %} <div class="detailcontent">
    <img src="{{ articles.thumb.url }}" alt="Thumbnail" width="100px" height="120px">
    <h2> {{ articles.title }} </h2>
    <p> {{ articles.body }} </p>
    <p> {{ articles.date }} </p>
</div>{% endblock %} 